/* 
01 - Typography system: 


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* navigation section */

.navigation {
  width: 100%;
  height: 6rem;
  display: flex;
  background-color: #fdf2e9;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.8rem;
}

.nav-list {
  gap: 3rem;
}

.navbar {
  padding: 1rem 5rem;
}

.logo {
  width: 16.3rem;
  height: 2.2rem;
  margin: 3rem 5rem;
}

.nav-items:last-child {
  color: #fdf2e9;
}

.nav-items:link,
.nav-items:hover {
  color: #cf711f;
  transform: all 0.3s;
}

.last:link,
.last:hover {
  background-color: #cf711f;
  color: #fdf2e9;
}

.nav-items {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  margin-right: 3rem;
  font-weight: 500;
}

.last {
  padding: 1rem 2rem;
  background-color: #e67e22;
  border-radius: 10px;
}

/* Hero section */
.section-hero {
  background-color: #fdf2e9;
  width: 100%;
}

.container-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-content: center; */
  padding: 8rem 10rem;
}

.hero-img {
  width: 90%;
  padding-left: 7rem;
}

.hero-text {
  padding-top: 0 3.2rem;
  max-width: 130rem;
  margin: 4rem auto;
}

.primary-heading {
  font-size: 5.2rem;
  line-height: 1;
  font-weight: 700;
  color: #333;
}

.hero-discription {
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.btn {
  font-size: 2rem;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 9px;
  text-decoration: none;
  color: #fdf2e9;
  transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #e67e22;
  margin-left: 1.5rem;
}

.btn-full:hover,
.btn-full:active {
  background-color: #e67e22;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  color: #cf711f;
  margin-left: 1.5rem;
  box-shadow: 3px #fff;
}

.hero-delivered {
  margin-top: 6rem;
  display: flex;
  align-items: center;
}

.hero-faces {
  width: 4.8rem;
  border-radius: 50%;
  margin: -0.5rem;
  border: 3px solid #fdf2e9;
}

.hero-delivered p {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.hero-delivered span {
  color: #cf711f;
}

.feature-img {
  width: 22.4rem;
  height: 3.2;
  filter: brightness(0);
  opacity: 50%;
}

.secondary-heading {
  text-align: center;
  margin-top: 5rem;
  font-weight: 600;
  color: #888;
}

.feature-images {
  display: flex;
  max-width: 130rem;
  justify-content: space-around;
  padding: 0 3.2rem;
  margin: 2rem auto;
}

.techcrunch {
  width: 22.4rem;
  height: 3.2rem;
}
.business-insider {
  width: 10rem;
  height: 3.2;
}
.the-new-york-times {
  width: 24.3rem;
  height: 3.2rem;
}
.forbes {
  width: 12.2rem;
  height: 3.2rem;
}
.usa-today {
  width: 17.1rem;
  height: 3.2rem;
}

/* How it works section */

.text-how {
  width: 125rem;
  margin: 0 auto;
  margin-top: 8rem;
  padding: 0 3.2rem;
}

.text-how p {
  color: #cf711f;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.text-how {
  font-size: 3rem;
  color: #333;
}

/* steps section */

.container-steps {
  width: 125rem;
  margin: 8rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3.2rem;
}

.app-img {
  display: inline-block;
  width: 35%;
  transition: all 0.3s ease-in-out;
}

.app-img:hover {
  transform: translateY(-2rem);
}

.app-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.app-flex::before {
  content: "";
  display: block;
  background-color: #fae5d3;
  width: 60%;
  padding-bottom: 35rem;
  border-radius: 50%;
  position: absolute;
  z-index: -2;
}

.app-flex::after {
  content: "";
  display: block;
  background-color: #fafafa6d;
  width: 45%;
  padding-bottom: 25rem;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

/* meals section */

.steps-number {
  font-size: 8rem;
  font-weight: 700;
  color: #dddddd;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

.steps-heading {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.steps-paragraph {
  font-size: 1.9rem;
  line-height: 1.5;
}

.container-meals {
  width: 120rem;
  margin: 2.5rem auto;
}

.meals-text p {
  color: #cf711f;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
  text-align: center;
}

.meals-text h1 {
  font-size: 4.4rem;
  color: #333;
  text-align: center;
  margin-top: -1rem;
}

.meals-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  margin: 5rem;
  column-gap: 3.4rem;
}

.meals-img {
  display: inline-block;
  width: 100%;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.meal-1,
.meals-2 {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.167);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.meal-1:hover,
.meals-2:hover {
  transform: translateY(-1.5rem);
}

.meals-para {
  background-color: #51cf66;
  border-radius: 100px;
  color: #333;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding: 0.4rem 0.8rem;
  margin: 1.8rem 4rem;
}

.meals-heading {
  margin: 0.5rem 4rem;
  font-size: 2rem;
  display: inline-block;
}

.yellow-bg {
  background-color: #ffd43b;
  margin-left: -3rem;
}

.light-green {
  background-color: #94d82d;
}

.text-meals {
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #333;
  font-size: 2.5rem;
  margin-left: 2.5rem;
}

.rating-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rating-items {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  gap: 1rem;
}

.rating-items:first-child {
  margin-top: 1rem;
}

.rating-items:last-child {
  padding-bottom: 5rem;
}

.icons {
  color: #cf711f;
  font-size: 2.4rem;
}

.menu-meals {
  display: grid;
  grid-template-columns: 1fr;
}

.text-list {
  list-style: none;
  margin-left: 1.5rem;
  color: #555;
  display: flex;
  align-items: center;
}

.meals-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.text-list:first-child {
  margin-top: 1.5rem;
}

.tick {
  font-size: 3rem;
  color: #e67e22;
  margin-right: 1.5rem;
}

.link-div {
  width: 120rem;
  margin: 5rem auto;
  text-align: center;
}

.meal-link {
  color: #e67e22;
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
}

.meal-link:hover {
  color: #cf711f;
  text-decoration: underline;
  transition: all 0.35s;
}

/* testimonials section */

.testimonials {
  display: grid;
  grid-template-columns: 50fr 45fr;
  background-color: #fae5d3;
}

.testimonials h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #cf711f;
  padding-top: 16rem;
  padding-left: 9rem;
}

.testimonials h1 {
  color: #333;
  padding-top: 2rem;
  padding-left: 9rem;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.testimonials-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 9rem;
  padding-top: 4rem;
  gap: 4.8rem;
}

.testimonial-img {
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.testimonial-caption {
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-name {
  margin-top: 1rem;
  font-size: 1.6rem;
  color: #6f6f6f;
}

.margin-bottom {
  margin-bottom: 5rem;
}

.testimonial-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-left: 4rem;
  gap: 2rem;
  margin-bottom: 3rem;
  align-items: center;
  overflow: hidden;
}

.food-img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}

.gallery-item {
  overflow: hidden;
}

.food-img:hover {
  transform: scale(1.1);
}

/* Pricing section */
.pricing-text {
  padding-left: 25rem;
}

.pricing-text h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #cf711f;
  padding-top: 10rem;
  font-weight: 500;
}

.pricing-text h1 {
  color: #333;
  padding-top: 2rem;
  font-size: 4rem;
  margin-bottom: 8rem;
}

.pricing-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 120rem;
  margin: 4rem auto;
  column-gap: 5rem;
}

.starter {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid #fae5d3;
  border-radius: 10px;
  width: 70%;
  justify-self: end;
}

.starter h3 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #cf711f;
  margin-top: 5rem;
}

.starter h1 {
  color: #333;
  font-size: 5rem;
  margin-bottom: 1.5rem;
  padding-top: 2rem;
}

.starter span {
  font-size: 1.8rem;
  font-weight: 500;
}

.starter p {
  font-size: 1.6rem;
  color: #555;
}

.pricing-list {
  margin-top: 4rem;
  font-size: 2rem;
}

.pricing-list {
  list-style: none;
}

.list-tick {
  color: #e67e22;
  margin-right: 1rem;
}

.list-items {
  padding-bottom: 2rem;
}

.pricing-list:last-child {
  margin-bottom: 5rem;
}

.pricing-link {
  font-size: 2rem;
  text-decoration: none;
  margin-top: 3rem;
  padding-bottom: 7rem;
  background-color: #e67e22;
  padding: 1rem;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 6rem;
  transition: all 0.3s;
}

.pricing-link:hover {
  background-color: #cf711f;
}

.complete {
  background-color: #fae5d3;
  justify-self: start;
}

.pricing-para {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #555;
  text-align: center;
  margin-bottom: 4rem;
}

/* features section */

.features {
  margin: 10rem auto;
  display: grid;
  column-gap: 5.5rem;
  grid-template-columns: repeat(4, 1fr);
  width: 120rem;
  justify-content: space-around;
}

.features-para {
  font-size: 1.8rem;
  line-height: 1.8;
}

.features-heading {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.features-icon {
  margin-bottom: 2rem;
  color: #e67e22;
  background-color: #fae5d3;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  padding: 1.6rem 1.6rem;
}

/* call to action */

.call-to-action {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 120rem;
  margin: 5rem auto;
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  margin-bottom: 15rem;
}

.text-form {
  background-color: #e67e22;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-form h1 {
  font-size: 4.5rem;
  margin-top: 4rem;
  margin-left: 4rem;
  color: #000;
}

.text-form p {
  font-size: 1.8rem;
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-right: 5rem;
  line-height: 1.8;
  color: #45260a;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.form input,
select {
  background-color: #fae5d3;
}

.form label {
  font-size: 1.6rem;
  font-weight: 500;
  color: #000;
  display: inline-block;
  margin-bottom: 1rem;
  gap: 2rem;
}

.input:focus,
.select:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.form input,
select {
  width: 80%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.down {
  margin-top: 2rem;
}

.btn-form {
  width: 80%;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 4.4rem;
  background-color: #45260a;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  align-items: end;
  padding: 1.2rem;
  transition: all 0.3s;
  color: white;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
}

.form-imgs {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(/img/eating.jpg);
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* footer section */

.footer-container {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  width: 120rem;
  margin: 0 auto;
  gap: 3rem;
  margin-bottom: 6rem;
  justify-content: space-evenly;
}

.omni-logo {
  width: 20rem;
}

.social-list {
  list-style: none;
  display: flex;
  margin-top: 2rem;
}

.social {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
}

.logo-link p {
  font-size: 1.4rem;
  line-height: 1.6;
}

.contact-us h3 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.contact-us p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.contact-us a {
  font-size: 1.6rem;
  display: block;
  line-height: 1.6;
  color: #555;
  text-decoration: none;
}

.account h3 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.account a {
  font-size: 1.6rem;
  display: block;
  line-height: 1.6;
  color: #555;
  text-decoration: none;
  margin-bottom: 1rem;
}

.company h3 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.company a {
  font-size: 1.6rem;
  display: block;
  line-height: 1.6;
  color: #555;
  text-decoration: none;
  margin-bottom: 1rem;
}

.resources h3 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

.resources a {
  font-size: 1.6rem;
  display: block;
  line-height: 1.6;
  color: #555;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer-link {
  transition: all 0.3s;
}

.footer-link:hover {
  color: #333;
}
